@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');
:root{
    --blue:#2A85F8;
    --blue2:#010B2E;
    --gradient:linear-gradient(360deg, hsla(213, 94%, 57%, 1) 0%, hsla(213, 94%, 57%, 1) 14%, hsla(227, 96%, 9%, 1) 81%);
    --gradient2:linear-gradient(90deg,#009ffd, #2a2a72);
}
*{
    font-family:'Khand', sans-serif;
    margin:0;
    padding:0;
    border:none;
    outline: none;
    transition:all .2s linear;
    box-sizing: border-box;
    text-decoration: none;
}
*::selection{
    background:white;
    color:var(blue);
}
/*html header font size*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color:#f6f5f7;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    margin:0 auto;
    background:url(./asset/sample5.jpg)no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    position:relative;
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 14px 28px rgba(0,0,0,0.25),
                0px 14px 10px rgba(0,0,0,0.22);
}
.form-container{
    position:absolute;
    top:0%;
    height:100%;
    transition:all 0.8s ease-in-out;
}
.sign-up-container{
    left:0;
    width:50%;
    z-index:1;
    opacity:0;
}
form{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 50px;
    height:100%;
    text-align: center;
}
h1{
    font-weight: bold;
}
.social-container{
    margin:20px;
}
.social-container a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin:0 5px;
    width:30px;
    height:40px;
}
a{
   color:#333;
   font-size:2.5rem;
   margin:15px;
}
span{
    font-size: 12px;
}
.form-container form .box{
    width:100%;
    border-radius: 10px;
    border:.2rem solid #666;
    font-size:1.6rem;
    color: #333;
    margin:0.5rem;
    padding:0.5rem;
}
/*input box text adjustment*/
.form-container form .box::placeholder{
    font-style:normal;
}
/*underline text adjustment*/
.form-container form .box:focus{
    border: 1px solid;
    border-radius:10px;
    border-color:rgba(0, 34, 255, 0.822);
}
.sign-in-container{
    left:0;
    width:50%;
    z-index:2;
}
.overlay-container{
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
    overflow:hidden;
    z-index:100;
    transition:all 0.6s ease-in-out;
}
.overlay{
    background-color:var(--blue);
    background: linear-gradient(to bottom,var(--blue),var(--blue2));
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 0;
    color:white;
    position:relative;
    left:-100%;
    width:200%;
    height:100%;
    transform: translateX(0);
    transition:all 0.6s ease-in-out;
}
.overlay-panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    width:50%;
    height:100%;
    top:0;
    align-items: center;
    justify-content: center;
    transform:translateX(0);
    padding:0rem 2.5rem;
}
.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right:0;
    transform: translateX(0);
}
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}
.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation :slide 0.6s;
}
@keyframes slide{
    0%,49.99%{
       opacity:0;
       z-index:1; 
    }
    50%,100%{
        opacity:1;
        z-index:5;
    }
}
.btn{
    font-weight:bold;
    font-size:1.5rem;
    border-radius: 2rem;
    text-transform: capitalize;
    letter-spacing:1px;
    color:white;
    background:var(--gradient2);
    padding:0.8rem 2rem 0.8rem 2rem; /*top right bottom left*/
    margin-top:1.5rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 .1rem .3rem rgba(255, 0, 0, 0.822);
    cursor:pointer;
}
.btn:active{
    transform: scale(.85);
}
.btn::before{
    content:'';
    position:absolute;
    top:-1rem;
    left:-100%;
    background: #fff9;
    height:150%;
    width:20%;
    transform:rotate(25deg);
    z-index:-1;
}
.btn:hover::before  {
    transition:.5s linear;
    left:120%;
}


.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.container.right-panel-active .overlay{
    transform:translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}