@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');
:root{
    --blue:#2A85F8;
    --blue2:#010B2E;
    --gradient:linear-gradient(360deg, hsla(213, 94%, 57%, 1) 0%, hsla(213, 94%, 57%, 1) 14%, hsla(227, 96%, 9%, 1) 81%);
}
*{
    font-family:'Khand', sans-serif;
    margin:0;
    padding:0;
    border:none;
    outline: none;
    transition:all .2s linear;
    box-sizing: border-box;
    text-decoration: none;
}