@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');
:root{
    --blue:#2A85F8;
    --blue2:#010B2E;
    --gradient:linear-gradient(360deg, hsla(213, 94%, 57%, 1) 0%, hsla(213, 94%, 57%, 1) 14%, hsla(227, 96%, 9%, 1) 81%);
}
*{
    font-family:'Khand', sans-serif;
    margin:0;
    padding:0;
    border:none;
    transition:all .2s linear;
    box-sizing: border-box;
}
::selection{
    background:white;
    color:var(blue);
}
/*html header font size*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/*scrollbar section*/
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background:var(--blue2);
}
html::-webkit-scrollbar-thumb{
    background:var(--gradient);
    border-radius:10px;
}
/* alignment of lists,menu and login in header */
header{
display: flex;
align-items:center;
justify-content: space-between;
width:100%;
background:none;
top:0;
left:0;
z-index:1000;
padding:1.6rem 7%;
}
header .logo{
    color:black;
    font-size:3rem;
}
header .logo img{
    max-height:3.5rem;
    max-width:4rem;
    padding-left:1rem;
    margin:0rem;
}
header .navbar ul {
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
}
header .navbar ul li{
    margin:0 2rem;
}
header #login img{
    max-height:3.5rem;
    max-width:4rem;
    padding-right:1rem;
    margin:0rem;
}
