@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');
:root{
    --blue:#2A85F8;
    --blue2:#010B2E;
    --gradient:linear-gradient(360deg, hsla(213, 94%, 57%, 1) 0%, hsla(213, 94%, 57%, 1) 14%, hsla(227, 96%, 9%, 1) 81%);
}
*{
    font-family:'Khand', sans-serif;
    margin:0;
    padding:0;
    border:none;
    outline: none;
    transition:all .2s linear;
    box-sizing: border-box;
    text-decoration: none;
}
*::selection{
    background:white;
    color:var(blue);
}
/*html header font size*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/*scrollbar section*/
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background:var(--blue2);
}
html::-webkit-scrollbar-thumb{
    background:var(--gradient);
    border-radius:10px;
}
section {
    min-height: 100vh;
    padding:1rem 7%;
}   
/* alignment of lists,menu and login in header */
header{
display: flex;
align-items:center;
justify-content: space-between;
width:100%;
transition: .5s;
top:0;
left:0;
z-index:1000;
padding:1.6rem 7%;
position:fixed;
}
header .logo{
    color:white;
    font-size:3rem;
}
header .logo img{
    max-height:4rem;
    max-width:4rem;
    margin:2px;
}
header .logo span{
    position:absolute;
}
header .navbar ul {
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
}
header .navbar ul li{
    margin:0 2rem;
}
header .navbar ul li a{
    font-size: 2.5rem;
    color:white;
    position: relative;
}
/*Effects on navbar*/
header .navbar ul li a::after{
    content: '';
    width:0;
    height:2px;
    position:absolute;
    bottom:-2px;
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    transition: width 0.3s;
}
header .navbar ul li a:hover::after{
    width:50%;
}
header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#2A85F8;
}
header #menu{
    color:white;
    font-size:1.5rem;
}
header #login img{
    max-height:3.5rem;
    max-width:4rem;
    padding-right:1rem;
    margin:0rem;
    cursor: pointer;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background:url(./asset/blockchain.jpg)no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    position:relative;
    text-align: center;
}
.home .hometext h1{
    position:absolute;
    left:10%;
    top:35%;
    align-items:center;
    justify-content: left;
    font-size: 14rem;
    color:transparent;
    -webkit-text-stroke:1px #fff;
    background: url(./asset/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;
}

.home .hometext h2{
    position:absolute;
    left:17.5%;
    bottom:23%;
    align-items:center;
    justify-content: left;
    font-size: 14rem;
    color:transparent;
    -webkit-text-stroke:1px #fff;
    background: url(./asset/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;
}
.home .hometext2 p{
    font-size:9.5rem;
    position: absolute;
    left:14.0%;
    top:39%;
    color:transparent;
    -webkit-text-stroke:1px #fff;
    background: url(./asset/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;
}
.home .hometext3 p{
    font-size:9.5rem;
    position: absolute;
    left:21%;
    bottom:28%;
    color:transparent;
    -webkit-text-stroke:1px #fff;
    background: url(./asset/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}


/* media queries */
@media (max-width:768px){
    html{
        font-size: 55%;
    }
    /*alignment of menu*/
    header #menu{
        display: block;
    }
    /*alignment of wrap between header*/
    header .navbar{
        position: fixed;
        top:-120%;
        left:0; 
        width:100%;
        background:#444;
    }
        /*wrap of menu*/
        header .navbar ul{
            flex-flow:column;
            padding: 2rem 0;
        }
        header .navbar ul li{
            margin:1.5rem 0;
            text-align: center;
            width: 100%;
        }
        /*font size design in wrap*/
        header .navbar ul li a{
            font-size: 2.5rem;
            display: block;
        }
        header .navbar ul li a.active,
        header .navbar ul li a:hover{
            color:#2A85F8;
        }
    /*calling of javascript*/
    .fa-times{
        transform: rotate(90deg);
    }
    header .navbar.nav-toggle{
        top:6.4rem;
    }
    .home p{
        width:auto;
    }
    .home h1{
        font-size:4rem;
    }
    .teacher p{
        width:auto;
    }
    .contact .row .image{
        display:none;
    }
}