@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Passion+One&display=swap');
:root{
    --red:#FF0000;
    --grey:#746868;
    --white:#fff;
    --green:limegreen;
}
*{
    font-family: 'Passion One', cursive;
    font-family: 'DM Sans', sans-serif;
    margin:0;
    border:none;
    text-transform:capitalize;
    text-decoration: none;
    padding:0;
    box-sizing: border-box;
    transition: all .2s linear;
}
::selection{
    background:#FF0000;
    color: #fff;
}
html{
    font-size: 100%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background:#fff;
    border-radius:10px;
}
html::-webkit-scrollbar-thumb{
    background:#FF0000;
    border-radius:10px;
}
.btn{
    font-size:1.1rem;
    padding:0.9rem;
    position:relative;
    margin-top:1.5rem;
    margin-bottom:1rem;
    cursor:pointer;
    color:#fff;
    background:var(--red);
    border-radius:5rem;
    overflow: hidden;
    z-index:0;
    box-shadow:0 0.4rem 0.7rem rgb(200,200,200);
}
.btn::before{
    content:'';
    transform:rotate(20deg);
    position:absolute;
    background:rgb(235, 236, 240);
    height:150%;
    width:20%;
    top:-1rem;
    left:-100%;
}
.btn:hover::before{
    left:120%;
    transition: .5s linear;
}
.heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}
header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    background:var(--red);
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    box-shadow:0 0.4rem 0.7rem rgb(255,246,246);
    padding:0.5rem;
}
header #menu{
    color:white;
    cursor: pointer;
    display:none;
}
header a{
    color: white;
    font-family: 'Passion One';
    font-size:2rem;
    align-items:left;
    margin-right:2rem;
}
header .navbar ul{
    list-style:none;
    display: flex;
    align-items:center;
    justify-content:center;
}
header .navbar ul li{
    margin-top:0rem;
    margin-right:2rem;
}
header .navbar ul li a{
    font-size:1rem;
    color:#fff;
}
header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#444;
}
label{
    justify-content: space-between;
    color:var(--grey);
    font-family:'DM',sans-serif;
    font-size:1rem;
    font-weight:lighter;
}
form div i {
    position: absolute;
    padding: 10px;
  }
  
  .success-icon,
  .failure-icon {
    right: 0;
    opacity: 0;
  }
  
  .failure-icon,
  .error {
    color: red;
  }
  
  .success-icon {
    color: green;
  }
  
  .error {
    font-size: 14.5px;
    margin-top: 5px;
  }
.box {
    text-transform:none;
    box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, .2);
    border-radius:15px;
    margin:1rem;
    padding:0.8rem;
    margin-bottom:2rem;
}
/*login page commenses */
.login-form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top:3rem;
    padding:3rem;
}
.login-form h1{
    padding:1.5rem 0;
    margin:1.5rem 0;
    color:var(--grey);
    font-family:'Passion One';
    font-weight:normal;
    align-items:center;
    position:relative;
}
.login-form form .box{
    margin-left:-1rem;
    width:150%;
}
.login-form form .box:focus{
    border: 1px solid;
    border-radius:40px;
    box-shadow: 0 0 0 4px rgba(209, 14, 14, 0.4);
}
.login-form form .btn{
    width:90%;
    margin-left:3.5rem;
}
.login-form form .btn:hover{
    color:black;
    background:var(--red);
    /* filter: brightness(90%); */
}
.login-form form p{
    align-items: center;
    justify-content: center;
    margin-left:5rem;
}
.login-form form p a{
    align-items: center;
    justify-content: center;
}
/* signup page commenses */
.signup-form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top:3rem;
    padding:3rem;
}
.signup-form h1{
    padding:1.5rem 0;
    margin:1.5rem 0;
    color:var(--grey);
    font-family:'Passion One';
    font-weight:normal;
    align-items:center;
    position:relative;
}
.signup-form form .box{
    margin-left:-1rem;
    width:100%;
}
.signup-form form .box:focus{
    border: 1px solid;
    border-radius:40px;
    outline:none;
    box-shadow: 0 0 0 4px rgba(209, 14, 14, 0.4);
}
.signup-form form .btn{
    width:50%;
    margin-left:3.5rem;
}
.signup-form form .btn:hover{
    color:black;
    background:var(--red);
    /* filter: brightness(90%); */
}
/* donor page commenses */
.donor-reg-page{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-top:2rem;
    padding:3rem;
}
.donor-reg-page h1{
    padding:1.5rem 0;
    margin:1.5rem 0;
    color:var(--grey);
    font-family:'Passion One';
    font-weight:normal;
    align-items:center;
    position:relative;
    font-size:2.5rem;
}
.donor-reg-page form .box{
    margin-left:-1rem;
    width:80%;
    outline:none;
}
.donor-reg-page form .box:focus{
    border: 1px solid;
    border-radius:40px;
    box-shadow: 0 0 0 4px rgba(209, 14, 14, 0.4);
}
.donor-reg-page form .btn{
    width:50%;
    margin-left:2rem;
}
.donor-reg-page form .btn:hover{
    color:black;
    background:var(--red);
    /* filter: brightness(90%); */
}
.donor-req-page form .donor-type-flex .box{
    width:100%;
}
.donor-reg-page form .donor-blood-group{
    display:flex;
    width:100%;
    align-items: center;
}
.donor-reg-page form .donor-blood-group .box{
    width:50%;
}
.donor-reg-page form .d-contact-num .box{
    width:160%;
    margin-left:-1rem;
}
.donor-reg-page form .d-contact-num .height1{
    height:10px;
}
.donor-reg-page form .height{
    height:35px;    
}
.donor-req-page form .form--blood-type {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 2rem;
    cursor: pointer;
}
.form--blood-type {
    margin-left: 2rem;
    margin-bottom:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.form--button-positive, .form--button-negative {
    padding: 0 1rem;
    box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, .2);
}
.form--button-positive:hover, .form--button-negative:hover{
    filter: brightness(95%);
 }
 .form--button-positive {
     border-radius: 2rem 0 0 2rem;
     color: #fff;
     background-color: var(--red);
 }
 
 .form--button-negative {
     border-radius: 0 2rem 2rem 0;
 }
 /* patient page commenses */
 .patient-req-page{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-top:2rem;
    padding:3rem;
}
.patient-req-page h1{
    padding:1rem;
    margin:1rem;
    color:var(--grey);
    font-family:'Passion One';
    font-weight:normal;
    align-items:center;
    position:relative;
    font-size:2.5rem;
    margin-left:7rem;
}
.patient-req-page form .box{
    margin-left:-1rem;
    width:150%;
    outline:none;
}
.patient-req-page form .box:focus{
    border: 1px solid;
    border-radius:40px;
    box-shadow: 0 0 0 4px rgba(209, 14, 14, 0.4);
}
.patient-req-page form .btn{
    width:50%;
    margin-left:5rem;
}
.patient-req-page form .btn:hover{
    color:black;
    background:var(--red);
    /* filter: brightness(90%); */
}
.patient-req-page form .attender-blood-grp-flex{
    display:flex;
    width:150%;
    align-items: center;
}
.patient-req-page form .attender-blood-grp-flex .box{
    width:150%;
}
.patient-req-page form .form--blood-type {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
/* index page commenses */
.Scroll-text {
    margin-top:4rem;
    height: 50px;	
   }
   .Scroll-text h1 {
    font-size: 3em;
    color:var(--red);
    position: absolute;
    width: 150%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: Scroll-text 15s linear infinite;
    -webkit-animation: Scroll-text 15s linear infinite;
    animation: Scroll-text 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-webkit-keyframes Scroll-text {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }

.home{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background:url(./img/photoshop.jpg)no-repeat;
    background-size:100% 100%;
    background-position:center;
    background-attachment:fixed;
    position:relative;
    text-align: center;
}

.box-container{
    display:flex;
    flex-direction: column;
    padding:2rem;
    margin:2rem;
    margin-top:-4rem;
    justify-content:space-evenly;
    align-items:center;
    position: relative;
    margin-left: auto; 
    margin-right:3rem;
}
.box-container .box-content1, .box-container .box-content2, .box-container .box-content3{
    display:flex;
    flex-direction: column;
    padding:2rem;
    margin:2rem;
    justify-content:space-evenly;
    align-items:center;
    border-radius:10px;
    border:1px solid;
    box-shadow: -5px -5px 8px #888888;
}
.box-container .box-content1 img{
    width:30%;
    object-fit:cover;
}
.box-container .box-content2 .img2{
    width:38%;
    object-fit:cover;
}
.box-container .box-content3 .img3{
    width:30%;
    object-fit:cover;
}
.box-container .box-content1 h1 a,.box-container .box-content2 h1 a,.box-container .box-content3 h1 a{
    color:var(--grey);
    font-family:'Passion One';
    font-weight:normal;
    font-size:2.5rem;
}
.box-container .seperator h1{
    color:var(--grey);
    font-size:2.3rem;
    font-family:'Passion One';
    font-weight: normal;
    justify-content:space-evenly;
    align-items: center;
}
.history-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-top:2rem;
    padding:2rem;
}
.history-container .box{
    margin-bottom:0.5rem;
    padding:1.5rem;
}
.status{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-top:5rem;
    padding:5rem;
}
.status .box{
    margin-bottom:0.5rem;
    padding:1.5rem;
}
.status .pending .fa-spinner{
    color:var(--red);
    font-size:1.5rem;
}
.status .finished .fa-check-circle{
    color:var(--green);
    font-size:1.5rem;
}
.status #Unique-Donor-ID{
    margin:3rem;
    width:auto;
}
.status .height{
    height:20px;
}
.status .box:focus{
    border: 1px solid;
    border-radius:40px;
    box-shadow: 0 0 0 4px rgba(209, 14, 14, 0.4);
}


@media(max-width:768px){
html{
    font-size:80%;
}
header #menu{
    display: block;
}
header .navbar{
    position: fixed;
    top:-120%;
    left:0; 
    width:100%;
    background:#444;
}
}
